#square
{
    width: 500px;
    height: 300px;
    background-color: blueviolet;
    position: fixed;
    top: 200px;
    left: 200px;
    z-index: 2;
}

#circle
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: aquamarine;
    position: fixed;
    top: 350px;
    left: 450px;
    z-index: 3;
    transition: 2s;
}

#circle:hover
{
    z-index: 1;
    opacity: 0.3;
    transition: 2s;
}